<!DOCTYPE html>
<html>
<head>
    <title>Prediction History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Prediction History</h2>
    {% if history %}
        <table border="1">
            <tr>
                <th>Time</th>
                <th>File Name</th>
                <th>Predicted Rice Type</th>
            </tr>
            {% for entry in history %}
            <tr>
                <td>{{ entry.timestamp }}</td>
                <td>{{ entry.filename }}</td>
                <td>{{ entry.predicted_class }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No predictions yet.</p>
    {% endif %}
    <br>
    <a href="{{ url_for('index') }}">Back to Home</a>
    <br>
    <a href="{{ url_for('plots') }}">See Training Accuracy & Loss Graphs</a>
</body>
</html>